<form (ngSubmit)="register()" [formGroup]="blogPostForm">
    <div formArrayName="tags">
        <label>Tags</label>
        <button id="add-tag" (click)="addTag()">Add tag</button>
        <div *ngFor="let tagControl of tagsArray.controls; index as i">
            <input class="tag" [formControlName]="i" />
            <button class="remove-tag" (click)="removeTag(i)">Remove tag</button>
        </div>
    </div>
    <button [disabled]="blogPostForm.invalid" type="submit">Register</button>
</form>