<h2>Sign up</h2>
<form (ngSubmit)="register()" [formGroup]="userForm">
    <div>
        <label>user name</label>
        <input formControlName="username">
        <div class="err" *ngIf="usernameCtrl?.hasError('required') && 
                    usernameCtrl?.dirty &&
                    usernameCtrl.touched">
                User name is required
        </div>
        <div class="err" *ngIf="usernameCtrl?.hasError('minlength') && 
                    usernameCtrl?.dirty">
                User name should be 3 haracters min
        </div>
        <div class="err" *ngIf="usernameCtrl?.hasError('alreadyUsed')">The name already in use</div>
    </div>
    <div>
        <label>password</label>
        <input type="password" formControlName="password">
        <div class="err" *ngIf="passwordCtrl?.hasError('required') && 
                    usernameCtrl?.dirty ">
                Password is required</div>
    </div>
    <div>
        <label>age</label>
        <input type="date" formControlName="birthday">
        <div class="err" *ngIf="birthdayCtrl?.hasError('required') && 
                    birthdayCtrl?.dirty">
                Age is required</div>
        <div class="err" *ngIf="birthdayCtrl?.hasError('tooYoung') && 
                    birthdayCtrl?.dirty
        ">Not aged enough</div>
    </div>
    <button [disabled]="userForm.invalid" type="submit">Register</button>
</form>
