<ng-container *ngIf="pony">
    <h2>{{pony!.name | uppercase}}</h2>
    <ul>
    </ul>
    <div>
        <img 
            [src]="'/images/pony-' + pony!.color.toLowerCase() + (running ? '-running' : '') + '.jpg'" 
            [alt]="pony!.name"
            width="300"
            height="200"
        /> 
    </div>
    <div>
        <ul>
            <li>Birtday: {{pony.birtday}}</li>
            <li>Raiting: {{pony.winPer}}</li>
            <li>Cost: {{pony.cost |  currency:'EUR'}}</li>
        </ul>
    </div>
</ng-container>


