<h1> Hello </h1>
<header>
    <nav>
      <ul>
        <li><a routerLink="/registration">Registration</a></li>
        <li><a routerLink="/registration-reactive-2">Registration Reactive 2</a></li>
        <li><a routerLink="/registration-reactive-3">Registration Reactive 3</a></li>
        <li><a routerLink="/register-custom-validator">Registration custom validator</a></li>
        <li><a routerLink="/register-group">Registration group</a></li>
        <li><a routerLink="/register-change">Registration change</a></li>
        <li><a routerLink="/register-form-array">Registration form array</a></li>
        <li><a routerLink="/register-form-record">Registration form record</a></li>
        <li><a routerLink="/ponies">Ponies</a></li>
        <li><a  routerLink="/" 
                routerLinkActive 
                [routerLinkActiveOptions]="{exact: true}"
                #route="routerLinkActive"
              >Home {{ route.isActive ?'(You are home)' : '' }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>made with &lt;3 by Ninja Squad</footer>