<h1> Hello </h1>
<header>
    <nav>
      <ul>
        <li><a routerLink="/ponies">Ponies</a></li>
        <li><a routerLink="/ponies-obs">Ponies observable</a></li>
        <li><a routerLink="/pony-type-ahead">Ponies type</a></li>
        <li><a  routerLink="/" 
                routerLinkActive 
                [routerLinkActiveOptions]="{exact: true}"
                #route="routerLinkActive"
              >Home {{ route.isActive ?'(You are home)' : '' }}</a>
        </li>
      </ul>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
  <footer>made with &lt;3 by Ninja Squad</footer>